<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b7fd1;" >
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white; font-size: 22px; " href="/">Chilesource</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu categorias" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Frontend</a></li>
              <li><a class="dropdown-item" href="#">Backend</a></li>
              <li><a class="dropdown-item" href="#">Hardware</a></li>
              <li><a class="dropdown-item" href="#">C</a></li>
              <li><a class="dropdown-item" href="#">Kotlin</a></li>
              <li><a class="dropdown-item" href="#">Swift</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">Java</a></li>
              <li><a class="dropdown-item" href="#">Python</a></li>
              <li><a class="dropdown-item" href="#">C++</a></li>
              <li><a class="dropdown-item" href="#">PHP</a></li>
              <li><a class="dropdown-item" href="#">Rust</a></li>
              <li><a class="dropdown-item" href="#">GO</a></li>
              <!-- <li><a class="dropdown-item" href="#">GO</a></li> -->

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="/new-post.html">Agregar post</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="btn search-button" type="submit">Buscar</button>
        </form>
        <div class="btn-group header-username">
            <button type="button" class="btn btn-secondary dropdown-toggle" style="background-color: transparent; border: none; box-shadow: none; outline:none;" data-bs-toggle="dropdown" aria-expanded="false">
              <img id="username-header-img" src="/media/icons/profile-user.svg" width="20px" alt=""> Invitado
            </button>
            <!-- <ul class="dropdown-menu dropdown-menu-end user-menu" >
              <li> <a href="/profile.html"><button class="dropdown-item" type="button">Perfil</button></a></li>
              <li> <a href="/favorites.html"><button class="dropdown-item" type="button">Favoritos</button></a></li>
              <li> <a href="/user-post.html"><button class="dropdown-item" type="button">Tus post</button></a></li>
              <li> <a href="/index.html"><button class="dropdown-item" type="button">Cerrar sesión</button></a></li>
            </ul> -->

            <div class="dropdown-menu dropdown-menu-end">
              <form class="px-4 py-3" action="/index.html">
                <div class="mb-3">
                  <label for="exampleDropdownFormEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@dominio.com">
                </div>
                <div class="mb-3">
                  <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Recordarme
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/register.html">No tienes cuenta? Registrate!</a>
              <!-- <a class="dropdown-item" href="#">Recuperar contraseña</a> -->
            </div>
        </div>
        
      </div>
    </div>
  </nav>