<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b7fd1;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white; font-size: 22px; " href="/">Chilesource</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu categorias" aria-labelledby="navbarDropdown" id="categories-dropdown">

            <li th:each="category : ${categories}"><a class="dropdown-item" th:text="${category.name}" th:href="@{/forum(id=${category.id})}"></a></li>

            <!-- <li><a class="dropdown-item" href="#">Frontend</a></li> -->
          </ul>
        </li>
        <li th:if="(${#httpServletRequest.remoteUser})" class="nav-item">
          <a class="nav-link active" id="new-post" style="color: white;" aria-current="page" href="/new-post">Nueva publicación</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn search-button" type="submit">Buscar</button>
      </form>
      <div th:if="(${#httpServletRequest.remoteUser})" th:inline="text" class="btn-group header-username">
        <button type="button" class="btn btn-secondary dropdown-toggle"
          style="background-color: transparent; border: none; box-shadow: none; outline:none;" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img id="username-header-img" src="/media/icons/profile-user.svg" width="20px" alt="">
          [[${#httpServletRequest.remoteUser}]]
        </button>
        <ul class="dropdown-menu dropdown-menu-end user-menu">
          <li> <a th:href="@{/profile(id=${userId})}"><button class="dropdown-item" type="button">Perfil</button></a></li>
          <li> <a th:href="@{/favorites(user_id=${userId})}"><button class="dropdown-item" type="button">Favoritos</button></a></li>
          <li> <a th:href="@{/logout}"><button class="dropdown-item" type="button">Cerrar sesión</button></a></li>
        </ul>
      </div>

      <!-- Vista para usuarios sin inicio de sesión (Invitado) -->
      <div th:unless="(${#httpServletRequest.remoteUser})" class="btn-group header-username">
          <a class="btn btn-success me-2" th:href="@{/login}" role="button">Iniciar sesión</a>
          <a class="btn btn-success me-2" th:href="@{/register}" role="button">Registrarse</a>
      </div>

    </div>
  </div>
</nav>

