.msg-container{
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button{
    display: flex;
    margin-right: 8px;
    color: white;
    background-color: #0b7fd1;;
    border: 1px solid white;
    align-items: center;
}

.profile-button:hover{
    color: white;
    background-color: #0962a1;
    border: 1px solid white;
}

.profile-button img{
    margin-left: 5px;
}