h1{
    font-size: 36px;
    margin-left: 12px;
}

.post-editor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* height: 400px; */
    border: 1px solid rgb(194, 194, 194);
    /* width: 900px; */
    /* margin: auto; */
}

.wysibb-body{
    min-height: 300px !important;
    max-height: 300px !important;
}

#editor{
    max-height: 300px;
}

.buttons-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

.profile-button{
    display: flex;
    color: white;   
    background-color: #0b7fd1;;
    border: 1px solid white;
    align-items: center;
}

.profile-button:hover{
    color: white;
    background-color: #0962a1;
    border: 1px solid white;
}

.profile-button img{
    margin-left: 5px;
}

.middle-container{
    display: flex;
    margin-bottom: 8px;
    justify-content: space-around;
}

.selectors-container{
    /* width: 200px; */
}

.editor-container{
    width: 860px;
}

.title-form{
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

.title-form label{
    font-size: 20px;
    margin-right: 8px;
}