<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/404.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <title>Chilesource</title>
</head>

<body>
<!-- Header -->
<div th:insert="components/header"></div>

<main class="main-container">
    <div class="msg-container">
        <img src="/media/img/404-error.png" width="220px" alt="Error 404">
        <h2>La página que buscas no existe! :(</h2>
    </div>
</main>



<!-- Footer -->
<div th:insert="components/footer"></div>


</body>

</html>