<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/include.js"></script>

    <style>
        td a {
            display: block;
            /* border: 1px solid transparent; */
            /* padding: 16px; */
        }
    </style>

    <title>Chilesource</title>
    <!-- Proyecto aplicación Foro web Chilesource, oct. 2021  -->
</head>

<body>
    <!-- Header -->
    <div w3-include-html="./components/header.html"></div>

    <main class="container pt-5">
        <h1>Foro de Chilesource</h1>
        <p>Comienza en alguna de estas categorías:</p>
        <table class="table table-bordered table-hover table-categories">
            <thead class="table-dark p-5">
                <tr>
                    <th colspan="2">Programación</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-bottom">
                <td>
                    <a href="#" class="text-decoration-none">
                        Java
                        <p class="text-secondary">Java Web, Java Server, Deskptop Dev, Game Dev</p>
                    </a>
                </td>
                <td> <!-- FIXME: centrar iconos, encontrar forma de poner icono a las categorias -->
                    <a href="#" class="text-decoration-none">
                        <img src="media/icons/java.png" alt="Java icon" class="float-end" style="width: 45px;">
                    </a>
                </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="text-decoration-none">
                            Python
                            <p class="text-secondary">Descripción</p>
                        </a>
                    </td>
                    <td> <!-- FIXME: centrar iconos, encontrar forma de poner icono a las categorias -->
                        <a href="#" class="text-decoration-none">
                            <img src="media/icons/python.png" alt="Python icon" class="float-end" style="width: 45px;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="text-decoration-none">
                            C/C++
                            <p class="text-secondary">Descripción</p>
                        </a>
                    </td>
                    <td> <!-- FIXME: centrar iconos, encontrar forma de poner icono a las categorias -->
                        <a href="#" class="text-decoration-none">
                            <img src="media/icons/c-logo.png" alt="C/C++ icon" class="float-end" style="width: 45px;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="text-decoration-none">
                            JavaScript
                            <p class="text-secondary">Descripción</p>
                        </a>
                    </td>
                    <td> <!-- FIXME: centrar iconos, encontrar forma de poner icono a las categorias -->
                        <a href="#" class="text-decoration-none">
                            <img src="media/icons/javascript.png" alt="Java icon" class="float-end align-middle" style="width: 45px;">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Hardware</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>

    </main>



    <!-- Footer -->
    <div w3-include-html="./components/footer.html"></div>
    <script>
        includeHTML();
    </script>
</body>
</html>