<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/new-post.css}">
    <title>Chilesource</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Editor de texto -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/jquery.wysibb.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/wbbtheme.css}"/>
    <script>
        $(function () {
                var wbbOpt = {
                    buttons: "bold,italic,underline,|,img,link,|,fontcolor,fontsize,|,justifyleft,justifycenter,justifyright,|",
                    autoresize: "false",
                    resize_maxheight: "400px"
                }
                $("#editor").wysibb(wbbOpt);
            })
    </script>

</head>
<body>
    <!-- Header -->
    <div th:insert="components/header"></div>

    <main class="main-container">
        <div class="head-container">
            <h1>Nueva publicación</h1>
            <hr>
        </div>

        <div class="post-editor">
            <div class="title-form">
                <label for="">Titulo: </label> <input class="form-control" type="text" name="" id="">
            </div>

            <div class="middle-container">
                <div class="editor-container"> 
                    <textarea id="editor"></textarea>
                </div>

                <div class="selectors-container">
                    <table class="table table-hover table-bordered lastpost-table">
                        <thead style="background-color: #0b7fd1; color: white;">
                            <tr>
                                <th id="likes" scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Categoría</option>
                                        <option value="1">Java</option>
                                        <option value="2">Python</option>
                                        <option value="3">C/C++</option>
                                        <option value="4">JavaScript</option>
                                        <option value="5">Kotlin</option>
                                        <option value="6">PC</option>
                                        <option value="7">GNU/Linux</option>
                                        <option value="8">Windows</option>
                                    </select>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <div style="display: flex;">
                                        <p style="margin: 0 8px;">Tags: </p>
                                        <input class="form-control" type="text">
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>


            <div class="buttons-container">
                <div style="display: flex;">
                    <button class="btn profile-button" style="margin-right: 12px;">Cancelar <img src="/media/icons/remove.png" width="18px"
                                                                                                 alt=""></button>
                    <button class="btn profile-button">Publicar <img src="/media/icons/plus.png" width="18px"
                                                                     alt=""></button>
                </div>
            </div>
        </div>
    </main>

      <!-- Footer -->
    <div th:insert="components/footer"></div>
</body>
</html>